  
<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex mb-2">
          <h5 class="card-title my-auto">Neuste Mitglieder:</h5>
          <%= link_to bootstrap_icon("plus-lg"), new_user_path, class:"btn btn-primary ms-auto d-inline-flex" %>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>$$$</th>
              </tr>
            </thead>
            <tbody>
              <% User.where(role: 0).order(created_at: :desc).limit(5).each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <% if user.paid %>
                    <td><%= bootstrap_icon "check" %></td>
                  <% else %>
                    <td><%= bootstrap_icon "x" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to "Alle Mitglieder", students_path, class: "card-link" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Aktueller Status</h5>
        <p class="card-text">Anzahl Mitglieder: <%= User.where(role: 0).count %> </p>
        <p class="card-text">Aktive Mitglieder: <%= User.where(role: 0, paid: true).count %></p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
